<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="BravoCharlie Search Engine Homepage">
    <meta name="author" content="Simone D'Avico">
    <link rel="shortcut icon" href="images/favicon.ico">

    <title>{title}</title>

    <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:300, 500' rel='stylesheet' type='text/css'>
    <link href="http://getbootstrap.com/examples/sticky-footer-navbar/sticky-footer-navbar.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <link href="//code.jquery.com/ui/1.10.3/themes/flick/jquery-ui.css" rel="stylesheet">
    <link href="/lib/bootstrap/css/starter-template.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="lib/tripjs/trip.min.css">
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="/lib/tripjs/trip.min.js"></script>
    <script src="/lib/moment.min.js"</script>
    <script type="text/javascript">moment.format();</script>
    <script src="/js/home.js"></script>
    <script src="/lib/purl/purl.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
  <div id="wrap">
	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
          <a class="navbar-brand" href="/">BravoCharlie</a>

          <!-- SEARCH FORM -->
          <form class="navbar-form navbar-left" id="search_form" action="/search" method="post">
  				  <div class="form-group" >
    				  <input type="text" name="terms" id="terms" size="50" placeholder="Search by terms">
              <input type="text" name="before" placeholder="Before" size="10" id="before_field">
              <input type="text" name="after" placeholder="After" size="10" id="after_field">
  				  </div>
            <button type="submit" id="submit" class="btn btn-danger">Submit</button>
			    </form>
      </div>
      <img id="loading" src="/images/loading.gif"></img>
      <button type="button" class="btn btn-info navbar-btn navbar-right" id="tour_start" onclick="startTour()">Take a tour!</button>
    </div>
  </div>
  <div class="container">
    <div class="starter-template">
      <h1>Search <a href="http://www.bbc.co.uk/news" target="_blank"><img class="bbc_logo" src="/images/bbc_logo-red.png"></img></a> news</h1>
      <!-- <p class="lead">First scratch of BravoCharlie homepage, to be updated shortly.</p> -->
    </div>
  </div><!-- /.container -->
  <div id="results" class="center">
    {^news}
      {?err}
        {>"error_partial.dust" /}
      {/err}
      {?warn}
        <span class="glyphicon glyphicon-globe"></span>
        <span id="statistics">
          Results: 0
        </span>
        {>"noresults_partial.dust" /}
      {/warn}
    {:else}
      {?warn}
        {>"noresults_partial.dust" /}
      {/warn}
      {>"news_list.dust" title=title news=news length=length /}
    {/news}
  </div>
</div> <!--  wrapper for sticky footer ends here, place all page content within this tag -->
<div id="footer">
  <div class="container">
    <p class="text-muted">
      <span class="glyphicon glyphicon-info-sign"></span> BravoCharlie (2013) -
      Developed by <a href="http://atelier.inf.usi.ch/~dafflonj" style="color: rgb(143,0,3)" target="_blank">Jacques Dafflon</a> and
      <a href="http://atelier.inf.usi.ch/~davicos" style="color: rgb(143,0,3)" target="_blank">Simone D'Avico.</a>
      BravoCharlie supports <a id="querylanguage" href="http://lucene.apache.org/core/2_9_4/queryparsersyntax.html" style="color: rgb(143,0,3)" target="_blank">Lucene Query Language</a>.
    </p>
  </div>
</div>

</body>
</html>