

<div class="news center" id="foo">
	<div class="news_header">
		<h1 class="news_title">{title|s}</h1>
		<a href={url} class="news_url" style="color: rgb(143,0,3)" target="_blank">{url}</a><div id="news_date"><span class="glyphicon glyphicon-time"></span> {date}</div>
	</div>
	<p class="news_content">{content|s}</p>
</div>
