    <span class="glyphicon glyphicon-globe"></span>
    <span id="statistics"> 
    	Results: {news.length} 
     </span>
     {?warn}
        {>"noresults_partial.dust" /}
      {/warn}
    {#news}
      {>"news_partial.dust" title=news.title /}
    {/news}